@mixin super {
  margin: 0;
  border: 0;
  padding: 0;
}

@mixin cleanFloat {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
  clear: both;
}

@mixin listNone {
  list-style: none;
  margin: 0;
  padding:0;
}

html, body {
  @include super;
  font-family: sans-serif;
}

.hide {
  display: none;
}

.visibility-hide {
  visibility: hidden;
}

.opacity-hide {
  opacity: 0;
}

.opacity-show {
  opacity: 1;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #282828;
  padding: 12px 4px;
  box-sizing: border-box;
  .menu-icon {
    color: white;
    position: relative;
    float: left;
  }
  .maizuo-title {
    color: #efefef;
    margin-left: 20px;
    float: left;
  }
  .maizuo-user {
    float: right;
    color: white;
  }
  .maizuo-city {
    float: right;
    color: #efefef;
    margin-right: 20px;
  }

  .hide-menu {
    left: -340px !important;
  }

  .menu {
    position: absolute;
    width: 340px;
    height: 600px;
    left: 0;
    top: 50px;
    background-color: #282828;
    z-index: 999;
    transition: all 0.3s;

    ul {
      @include listNone;
    }

    li {
      //@include listNone;
    }

    &-item {
      color: #9a9a9a;
      line-height: 50px;
      border: 1px solid #333;
      padding: 0 10px;
      font-size: 14px;
    }
  }
}

.slide {
  max-width: 800px;
  margin: auto;

  ol, ul, li {
    @include listNone;
    display: inline;
  }

  .silder {
    position: absolute;
    left: 0;
    width: 100%;

    &:nth-child(1) {
      position: relative;
      float: left;
    }
    img {
      width: 100%;
    }
  }

  .top-images {
    position: relative;
    overflow: hidden;

    &:after {
      @include cleanFloat;
    }
  }

  .now-playing {
    padding: 17px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    img {
      width: 100%;
    }
  }

  .show-more {
    text-align: center;
    .more-button {
      display: inline-block;
      width: 160px;
      background-color: #eee;
      border-radius: 15px;
      height: 30px;
      line-height: 32px;
      font-size: 12px;
      color: #616161;
      border: 1px solid #aaa;
      cursor: pointer;
    }
  }

  .coming-soon {
    @extend .now-playing;
  }

  .movice-msg {
    width: 100%;
    height: 50px;
    background-color: #ccc;
  }

  .coming-movice-msg {
    @extend .movice-msg;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    &:after {
      @include cleanFloat;
    }

    .msg-left {
      float: left;
    }

    .msg-right {
      float: right;
    }
  }

}


@for $i from 0 through 2 {
  .silder#{$i} {
    animation: img#{$i} 20s linear infinite;
  }
}

//位于幻灯片最左端
@mixin left {
  left: -100%;
  opacity: 0;
  z-index: -1;
}

//居于幻灯片中间
@mixin centor {
  left: 0;
  opacity: 1;
  z-index: 0;
}

//居于幻灯片最右边
@mixin right {
  left: 100%;
  opacity: 0;
  z-index: -1;
}

@mixin choiceImage ($x) {
  @if $x == 0 {@include centor;}
  @if $x == 1 {@include left;}
  @if $x == 2 {@include right;}
}

@for $i from 0 through 2 {
  @keyframes img#{$i} {
    0% {
      @include choiceImage($i)
    }
    31% {
      @include choiceImage($i)
    }
    33% {
      @include choiceImage( ($i + 2) % 3)
    }
    64% {
      @include choiceImage( ($i + 2) % 3)
    }
    66% {
      @include choiceImage( ($i + 1) % 3)
    }
    98% {
      @include choiceImage( ($i + 1) % 3)
    }
    100% {
      @include choiceImage($i)
    }
  }
}

@import "./city.scss";
@import "./login.scss";
@import "./user.scss";
@import "./cinema.scss";
