.header {
  width: 100%;
  height: 100px;
  background-color: aliceblue;
}

ol, ul, li {
  list-style: none;
  display: inline;
  margin: 0;
  padding:0;
}

li {
  position: absolute;
  left: 0;
  width: 100%;
}

li img  {
  width: 100%;
}

.silder1 {
  -webkit-animation: img1 20s linear infinite;
}


.silder2 {
  -webkit-animation: img2 20s linear infinite;
}

.silder3 {
  -webkit-animation: img3 20s linear infinite;
}

@-webkit-keyframes img1 {
  0% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }
  31% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }
  33% {
    left: 100%;
    opacity: 0;
    z-index: 0;
  }
  34% {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }
  98% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }
  100% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }
}

@-webkit-keyframes img2 {
  0% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }
  31% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }
  33% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }
  64% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }
  66% {
    left: 100%;
    opacity: 0;
    z-index: 0;
  }
  67% {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }
  100% {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes img3 {
  0% {
    left: -100%;
    opacity: 0;
    z-index: -1;
  }
  64% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }
  66% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }
  98% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
    z-index: 0;
  }
}

